<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1><%= @product.name %></h1>
			<h3><%= @product.description %></h3>
			<a href="<%= @product.url %>" target="_blank">Compralo</a>
		</div>
	</div>
</div>
